/* Input + Textarea */
input, textarea {
    width: 100%;

    &:focus {
        outline: 0;
    }
}

/* Label */
label {
    display: block;
}

/* Radio */
input[type="radio"],
input[type="checkbox"] {
    &, & + label {
        display: inline-block;
        vertical-align: top;
        width: auto;
    }
}

/* Buttons */
.button {
    border: none;
    outline: none;
    background-color: $primary-color;
    color: $primary-inverse-color;

    transition: background-color $animation-time $animation-ease, color $animation-time $animation-ease;

    &:hover {
        background-color: $primary-dark-color;
        color: $primary-inverse-color;
    }
}

/***********************
* Mobile
***********************/
.is-mobile {
    .button:hover {
        background-color: $primary-color;
        color: $primary-inverse-color;
    }
}
