/* Colors */
$darkest-color: #000;
$brightest-color: #fff;

$primary-color: $darkest-color;
$primary-brightest-color: $darkest-color;
$primary-bright-color: $darkest-color;
$primary-dark-color: $darkest-color;
$primary-darkest-color: $darkest-color;

$primary-inverse-color: $brightest-color;

$secondary-color: $darkest-color;
$secondary-brightest-color: $darkest-color;
$secondary-bright-color: $darkest-color;
$secondary-dark-color: $darkest-color;
$secondary-darkest-color: $darkest-color;

$secondary-inverse-color: $brightest-color;

/* Animation */
$animation-ease: ease-out;
$animation-time: 0.15s;
